.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.row {
    margin-top: 40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-body ul li {
    list-style: none;
}

.modal-content {
    width: 80% !important;
    margin: 30px auto !important;
}

.modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -250px;
}
