@model SPAShoppingCartApp.Areas.Product.Models.Product

@{
    ViewBag.Title = "Product";
}


<div class="row">
    <div class="col-md-3">
        <img itemprop="image" class="img-responsive" src="http://img6a.flixcart.com/image/shoe/f/c/7/black-white-scarle-hellion-m-adidas-8-400x400-imaefsdxhpn4cxvf.jpeg" alt="External  Modem">
    </div>
    <div class="col-md-3">
        <div class="detailid"><strong>Product ID:</strong> <span itemprop="productID">@Model.ProductId</span></div>
        <div class="detailname"><span itemprop="name">@Model.ProductName</span></div>
        <div class="prodinstock detailinstock"><strong>In Stock:</strong> 50</div>
        <div class="detailprice" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <strong>Price:</strong> <span class="price" id="pricediv0" itemprop="price">@Model.ProductPrice</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="quantitydiv detailquantityinput" style="margin-right: 12px; white-space: nowrap">
            <input type="text" name="quant" id="w0quant" maxlength="5" size="4" value="1" title="Quantity" style="float: left">
        </div>
        @Html.ActionLink("Add To Cart", "AddProductToCart", "ShoppingCart", new { area = "ShoppingCart", productId = Model.ProductId, quantity = "2" }, htmlAttributes: new { @class = "username", title = "Manage" })
    </div>
    <div class="col-md-3">
        <p class="pagenums" align="center">
            <a class="ectlink emailfriend" rel="nofollow" href="javascript:openEFWindow('modem1',false)">
                <strong>
                    <span style="vertical-align: text-bottom">
                        <img src="http://www.thetemplatestore.com/images/email_go.png" alt="Email a Friend" width="16" height="16" border="0">
                    </span> Tell a Friend
                </strong>
            </a>
        </p>
    </div>
</div>
